@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.d-flex, .cajas img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  background-color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding-top: 10px;
}

.menu ul li {
  /*display: inline; */
  padding-right: 20px;
}

.menu img {
  text-decoration: none;
  font-size: 20px;
  padding: 1px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-top: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.menu a:hover {
  background-color: white;
  transition: 1s;
  border-radius: 5px;
  color: black;
  padding: 2px;
  cursor: pointer;
}

.foote {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 80px);
  grid-template-areas: "area2 area1 area1 area4" "area2 area3 area area4" "area2 area3 area area4" "area5 area5 area5 area5";
  align-items: center;
  gap: 5px;
  margin-top: 100px;
}

.t1 {
  grid-area: area1;
}

.t2 {
  grid-area: area2;
}

.t3 {
  grid-area: area3;
}

.t4 {
  grid-area: area4;
}

.t5 {
  grid-area: area5;
}

.foot {
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot img {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.foot form h6 {
  margin-top: -100px;
}

.foote h6 {
  margin-top: -100px;
}

/*Contenido Principal*/
.portada {
  width: 100%;
  height: 300px;
  background-color: black;
  text-align: center;
}
.portada img {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  padding: 20px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  color: rgba(13, 109, 253, 0.8549019608);
}

h2 {
  text-align: center;
  padding: 20px 0px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  color: rgba(13, 109, 253, 0.8549019608);
}

/*Ingresos*/
.cards {
  background-color: white;
  padding: 50px 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.cards_body {
  display: inline-block;
  width: 20%;
  text-align: left;
  margin: 10px;
}
.cards_body img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: solid black;
  transition: 0.3s;
}
.cards_body img:hover {
  box-shadow: 4px 4px 4px 0px black;
}
.cards_body h4, .cards_body p {
  padding: 20px;
  text-align: center;
}

/*Categorias*/
.cajas {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.cajas img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border: solid black;
  margin-bottom: 50px;
  transition: 0.3s;
}
.cajas img:hover {
  box-shadow: 4px 4px 4px 0px;
}
.cajas h4 {
  padding: 10px;
  border-bottom: 10px;
  position: relative;
  margin-top: -100px;
  color: white;
  background-color: #0d6efd;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.img-proyec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-template-areas: "area1 area2" "area3 area4";
  gap: 15px;
  padding: 40px;
  align-items: center;
}
.img-proyec .proyec {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
}
.img-proyec .proyec img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.img-proyec .proyec img:hover {
  box-shadow: 6px 6px 6px 0px;
}
.img-proyec .proyec.n1 {
  grid-area: area1;
}
.img-proyec .proyec.n2 {
  grid-area: area2;
}
.img-proyec .proyec.n3 {
  grid-area: area3;
}
.img-proyec .proyec.n4 {
  grid-area: area4;
}

.productos {
  text-align: center;
  padding: 20px 0px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
  grid-template-areas: "area1 area4 area7" "area2 area5 area8" "area3 area6 area9";
  gap: 15px;
  padding: 15px;
  align-items: center;
}
.grilla_hijo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
}
.grilla_hijo img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.grilla_hijo img:hover {
  box-shadow: 6px 6px 6px 0px;
}
.grilla_hijo.g1 {
  grid-area: area1;
}
.grilla_hijo.g2 {
  grid-area: area2;
}
.grilla_hijo.g3 {
  grid-area: area3;
}
.grilla_hijo.g4 {
  grid-area: area4;
}
.grilla_hijo.g5 {
  grid-area: area5;
}
.grilla_hijo.g6 {
  grid-area: area6;
}
.grilla_hijo.g7 {
  grid-area: area7;
}
.grilla_hijo.g8 {
  grid-area: area8;
}
.grilla_hijo.g9 {
  grid-area: area9;
}
.grilla_hijo.g10 {
  grid-area: area10;
}

/*Contacto*/
.formu {
  margin: auto;
  text-align: center;
  padding: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.formu label {
  margin: 10px;
}

/*nosotros*/
.nos p, h2 {
  padding: 10px 50px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

@media only screen and (max-width: 1024px) {
  .cajas {
    gap: 10px;
    display: flex;
  }
  .cajas img {
    width: 450px;
    height: 300px;
    object-fit: cover;
  }
}
@media only screen and (max-width: 768px) {
  .cajas {
    gap: 80px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .caja img {
    width: 600px;
    height: 500px;
    object-fit: cover;
    border: 2px solid black;
  }
  .cards {
    background-color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .cards_body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
  }
  .grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "area1 area2 " "area3 area4 " "area5 area6 " "area7 area8 " "area9 area10 ";
    gap: 15px;
    padding: 15px;
    align-items: center;
  }
  .grilla_hijo {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
  }
  .grilla_hijo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .grilla_hijo img:hover {
    box-shadow: 6px 6px 6px 0px;
  }
  .grilla_hijo.g1 {
    grid-area: area1;
  }
  .grilla_hijo.g2 {
    grid-area: area2;
  }
  .grilla_hijo.g3 {
    grid-area: area3;
  }
  .grilla_hijo.g4 {
    grid-area: area4;
  }
  .grilla_hijo.g5 {
    grid-area: area5;
  }
  .grilla_hijo.g6 {
    grid-area: area6;
  }
  .grilla_hijo.g7 {
    grid-area: area7;
  }
  .grilla_hijo.g8 {
    grid-area: area8;
  }
  .grilla_hijo.g9 {
    grid-area: area9;
  }
  .grilla_hijo.g10 {
    grid-area: area10;
  }
}
@media only screen and (max-width: 480px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu img {
    margin-left: 25px;
    width: 60px;
    height: 60px;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cajas {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .caja img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid black;
    flex-direction: row;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .cards img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: -100px;
  }
  .cards_body h4 {
    padding: 10px;
    text-align: center;
  }
  .grilla {
    display: flex;
    flex-wrap: wrap;
  }
  .img-proyec {
    display: flex;
    flex-direction: column;
  }
}
.carousel {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}
.carousel .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: slide-fade 15s infinite;
}
.carousel .slide:nth-child(1) {
  animation-delay: 0;
}
.carousel .slide:nth-child(2) {
  animation-delay: 5s;
}
.carousel .slide:nth-child(3) {
  animation-delay: 10s;
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
