/*Contenido Principal*/

.portada{
    width: 100%;
    height: 300px;
    background-color: black;
    text-align: center;
    img{
        @include imagenes(100%,100%,0%);
    }
}

h2{
    text-align: center;
    padding: 20px 0px;
    margin-top: 40px;
    font-family: $main-font;
    font-weight: 1000;
    color: #0d6dfdda;
}

/*Ingresos*/

.cards{
    background-color: white;
    padding: 50px 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;

        &_body{
        display:inline-block;
        width: 20%;
        text-align: left;
        margin: 10px;
        img{
            width:100%;
            height:300px;
            object-fit:cover;
            border:  solid black;
            transition: .3s;
            &:hover {
                box-shadow: 4px 4px 4px 0px black;
            }
        }
        h4 , p {
            padding: 20px;
            text-align: center;
        }
    }
}

/*Categorias*/

.cajas {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

        img {
        width: 600px;
        height: 400px;
        object-fit: cover;
        border:  solid black;
        @extend .d-flex;
        margin-bottom: 50px; 
        transition: .3s;
        &:hover{
            box-shadow: 4px 4px 4px 0px;
        }
        }
        h4{
        padding: 10px;
        border-bottom: 10px;
        position: relative;
        margin-top: -100px;
        color:white;
        background-color: #0d6efd;
        width: 100px;
        border-radius: 20px;
        cursor: pointer;
    }
    
}